.contenedor-productos{


}
.lista-productos{
    width: 100%;
    height: 100%;
    background-color: #e6e6e6;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}
.lista-productos li{
    margin: 0 40px 40px 0;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}