
.contenedor-registro{
    width: 25%;
    margin: 5% auto;
    background-color: #ffa36c   ;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);    
}
.formulario{
    display: block;
    width: 90%;
    height:  90%;
    margin:  5% auto;
    border-radius: 50px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    background-color: antiquewhite;
}
.formulario h1{
    text-align: center;
    color: #ff6f10;
}
.formulario .contenido{
    display: block;
    position: relative;
    width: 80%;
    margin:  auto;
    padding: 30px 10px 10px;
}
.formulario .contenido input {
    display: block;
    background-color: white;
    width: 90%;
    height: 40px;
    padding-left: 15px;
    border-radius: 20px;
    border: 0;
    font-size: 18px;
   }

   .formulario .contenido select {
    display: block;
    background-color: white;
    width: 95%;
    border-radius: 20px;
    border: 0;
    padding: 10px 10px;
    font-size: 18px;
   }
.formulario .contenido label {
    display: block;
    position: absolute;
    width: auto;
    top: 10px;
    left: 50px;
    padding: 5px 5px;
    border-radius: 20px;
    background-color: antiquewhite;
   }
.formulario  button{
    display: block;
    background-color: #ff6f10;
    width: 40%;
    border-radius: 20px;
    border: 0;
    padding: 10px 10px;
    font-size: 18px;
    color: white;
    margin: 5% auto;
    cursor: pointer;
}

@media screen and (max-width: 1290px) {
    .contenedor-registro{
        width: 50%;
        transition: 3s;
    }
}
@media screen and (max-width: 810px) {
    .contenedor-registro{
        width: 75%;
        transition: 3s;
    }
}
@media screen and (max-width: 500px) {
    .contenedor-registro{
        width: 85%;
        transition: 3s;
    }
}
@media screen and (max-width: 450px) {
    .contenedor-registro{
        width: 100%;
        transition: 3s;
    }
}


